body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  background-color: white;
  border: solid 2px black;
  width: 100%;
  height: 300px; 
}

section{
  background-color: darkgoldenrod;
  border: solid 2px black;
  width: 100%;
  height: 400px;
}

footer{
  background-color: brown;
  border: solid 2px black;
  width: 100%;
  height: 100px;
}
