.crewManager{
    height: 600px;
    display: flex;
}

.crewInfoLine{
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        display: flex;
    }
}

.crewInfoBox{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.crewInfoTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border: 2px solid orange;
    margin-bottom: 90px;
    th{
        width: 150px;
    }
    td{
        width: 220px;
        text-align: center;
    }
    h2{
        margin: 15px 0;
    }
}

.crewContext{
    width: 500px;
    height: 200px;
    display: flex;
    >h1{
        text-align: center;
        position: absolute;
        transform: translateX(80%) translateY(-130%);
    }

    .crewContextBox{
        width: 500px;
        height: 200px;
        display: flex;
        padding: 20px 20px 0 20px;
        border: 2px solid orange;
        >h2{
            margin: 0;
        }
    }
}

.crewListLine{
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >h1{
        text-align: center;
    }
    >.crewMenberBoxLine{
        width: 700px;
        height: 520px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 10px;
        border: 2px solid orange;
    }
}

.crewMemberBox{
    display: flex;
    gap: 15px;
    width: 700px;
    height: 200px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    >img{
        width: 150px;
        height: 150px;
        margin-left: 10px;
    }
    >.crewMemberInfoLine{
        width: 520px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        >.memberDataLine{
            width: 520px;
            height: 90px;
            display: flex;
            justify-content: space-between;
            h2{
                text-align: center;
                align-content: center;
                margin: 0;
            }

            .memberAuthority{
                width: 100px;
            }
            .memberNickName{
                width: 300px;
            }
            .memberLocation{
                width: 170px;
            }
            .memberBikeData{
                width: 350px;
                text-wrap: wrap;
            }
            .memberAge{
                width: 60px;
            }
            .crewMemberDetailBtn{
                width: 100px;
            }
        }
            
    }
}